# Compiled Object files
*.o
*.obj

# Executables
*.exe
*.out
*.app

# Libraries
*.lib
*.a
*.so
*.dll
*.dylib

# CMake
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Visual Studio Code
.vscode/

# CLion
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db